<div style="margin: 20px 20px 80px 20px">
    <div class="row">
        <div class="col-lg-4">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="dags" class="col-md-2 control-label text-left">Active Dags</label>
                    <div class="col-md-9 text-left">
                        <select class="form-control"
                                id="dags"
                                name="dags"
                                ng-model="i.selectedDag"
                                ng-change="i.onDagChange()"
                                ng-options="dag as dag.display for dag in i.currentDagReport.dags">
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-show="i.selectedDag">
        <div class="col-md-12">
            <h2> {{i.selectedDag.display}}
                <button type="submit" class="btn btn-danger" ng-click="i.deleteDag()">Delete {{i.selectedDag.display}}</button>
            </h2>
        </div>
    </div>

    <div class="row">
        <svg id="svg-canvas" width=1200 height=1200></svg>
    </div>
</div>